@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 23 22 18;
    --background: 255 255 255;
    --card: 255 255 255;
    --card-foreground: 23 22 18;
    --popover: 230 230 235;
    --popover-foreground: 23 22 18;
    --primary: 254, 227, 75;
    --primary-foreground: 255 255 255;
    --secondary: 165 182 169;
    --secondary-foreground: 23 22 18;
    --muted: 175 176 180;
    --muted-foreground: 142 142 147;
    --accent: 94 115 109;
    --accent-foreground: 255 255 255;
    --destructive: 255 56 43;
    --destructive-foreground: 255 255 255;
    --border: 230 230 235;
    --input: 210 210 215;
    --ring: 230 230 235;

    --android-text: 23 22 18;
    --android-background: 237 237 233;
    --android-card: 255 255 255;
    --android-card-foreground: 23 22 18;
    --android-popover: 230 230 235;
    --android-popover-foreground: 23 22 18;
    --android-primary: 254, 227, 75;
    --android-primary-foreground: 255 255 255;
    --android-secondary: 165 182 169;
    --android-secondary-foreground: 23 22 18;
    --android-muted: 175 176 180;
    --android-muted-foreground: 142 142 147;
    --android-accent: 94 115 109;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 254 67 54;
    --android-destructive-foreground: 254 67 54;
    --android-border: 230 230 235;
    --android-input: 210 210 215;
    --android-ring: 230 230 235;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: 237 236 232;
      --background: 22 22 18;
      --card: 21 21 24;
      --card-foreground: 237 236 232;
      --popover: 40 40 42;
      --popover-foreground: 237 236 232;
      --primary: 206 186 75;
      --primary-foreground: 23 22 18;
      --secondary: 73 90 77;
      --secondary-foreground: 237 236 232;
      --muted: 70 70 73;
      --muted-foreground: 142 142 147;
      --accent: 140 161 155;
      --accent-foreground: 23 22 18;
      --destructive: 254 67 54;
      --destructive-foreground: 255 255 255;
      --border: 40 40 42;
      --input: 55 55 57;
      --ring: 40 40 42;

      --android-text: 237 236 232;
      --android-background: 22 22 18;
      --android-card: 21 21 24;
      --android-card-foreground: 237 236 232;
      --android-popover: 40 40 42;
      --android-popover-foreground: 237 236 232;
      --android-primary: 206 186 75;
      --android-primary-foreground: 23 22 18;
      --android-secondary: 73 90 77;
      --android-secondary-foreground: 237 236 232;
      --android-muted: 70 70 73;
      --android-muted-foreground: 142 142 147;
      --android-accent: 140 161 155;
      --android-accent-foreground: 23 22 18;
      --android-destructive: 254 67 54;
      --android-destructive-foreground: 255 255 255;
      --android-border: 40 40 42;
      --android-input: 55 55 57;
      --android-ring: 40 40 42;
    }
  }
}
